@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

body{
    background-color: #303144;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.app{
    margin: 0 auto;
    padding: 45px 20px 20px 20px;
    text-align: center;

    h1{
        color: white;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 3px;
        margin: 0;
    }

    h2{
        color: #9798a1;
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 60px;
        margin-top: 5px;
    }

    &__lock-button{
        $self: '.lock-button';
        -webkit-appearance: none;
        background: linear-gradient(180deg,#5c5c68 0,#484964 26%,#1f202d);
        border: 0;
        border-radius: 100%;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: 600;
        height: 200px;
        letter-spacing: 2px;
        padding: 0;
        position: relative;
        text-shadow: 1px 1px 1px #1f202d;
        text-transform: uppercase;
        transition: box-shadow .3s ease;
        width: 200px;

        &--lock{
            box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.5), 0 0 10px 2px #00ff00;
        }

        &--unlock{
            box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.5), 0 0 10px 2px #ff1201;
        }

        &--waiting{
            box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.5), 0 0 10px 2px #ffdf00;
        }

        &:focus{
            outline: 0;
        }

        &:active{
            margin-top: 2px;
        }

        span{
            display: block;
            line-height: 1.2em;
        }

        #{$self}__indicator{
            border-radius: 3px;
            display: inline-block;
            height: 10px;
            left: 85px;
            position: absolute;
            top: 20px;
            width: 30px;

            &--lock{
                background-color: #00ff00;
                box-shadow: 0 0 10px 2px #00ff00;
            }

            &--unlock{
                background-color: #f44336;
                box-shadow: 0 0 10px 2px #ff1201;
            }

            &--waiting{
                background-color: #ffdf00;
                box-shadow: 0 0 10px 2px #ffdf00;
            }
        }
    }
}