<div class="app">
    <h1>MERCEDES BENZ</h1>
    <h2>Connected Vehicle API Demo</h2>
    <div v-show="!loaded">{{appState}}</div>
    <button class="app__lock-button" v-show="loaded" @click="changeDoorStatus()"  v-bind:class="['app__lock-button--' + getIndicatorClass]">
        <span class="lock-button__indicator" v-bind:class="['lock-button__indicator--' + getIndicatorClass]"></span>
        <span>Door</span>
        <span>{{getState}}</span>
    </button>
</div>